.cardLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  background-blend-mode: multiply;
  transition: all 0.4s ease;
  color: #fff;
  min-height: 130px;
}
.forecastLink {
  background: center/cover url('/images/weather-background/forecast-bg.jpg') no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}
.forecastLink:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.sportEventsLink {
  background: center/100% url('/images/sport-events/sports-bg.jpg') no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  height: 170px;
}

.sportEventsLink:hover {
  background-size: 120%;
}

.weatherHistoryLink {
  background: center/cover url('/images/weather-background/weather-history-bg.jpg') no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.weatherHistoryLink:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
